.common {
  border-radius: 0.125rem;
  background-color: var(--gray-10);
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.common::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 100%;
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.35) 48%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: SKELETON_TRADMILL_ANIMATION 1s ease-in-out infinite;
}
.common .item {
  visibility: hidden;
}

/* 좌우 왕복 스켈레톤 애니메이션 */
@keyframes SKELETON_TRADMILL_ANIMATION {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(100vw);
  }
}
