.section {
  display: flex;
  flex-direction: column;
}

.option__checkbox {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.option__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0 1.25rem;
  padding-bottom: 1.25rem;
  width: calc(100% + 2.5rem);
  transform: translateX(-1.25rem);
  box-shadow: 0.125rem 0.125rem 0.5rem var(--gray-150);
}
.option__header span {
  font-weight: 900;
}
.option__header button {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  position: relative;
}
.option__header button img {
  width: 1rem;
  height: 1rem;
}

.option__buttons {
  display: flex;
  gap: 0 1.25rem;
}

@media (max-width: 768px) {
  .option__header button span {
    display: none;
  }
}
