.section {
  width: 100%;
  padding-top: 0.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.write__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem 0;
  height: 80%;
}

.title {
  border: unset;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.75rem;
  border-bottom: solid 1px var(--gray-40);
}
.title::placeholder {
  font-weight: 400;
}

.contents {
  height: 100%;
}
