.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem 0;
  padding-bottom: 1.25rem;
  border-bottom: solid 0.0625rem var(--gray-50);
  position: relative;
}
.isLast {
  border-bottom: unset;
  padding-bottom: 0;
}

.title__wrapper {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
