.checkbox__wrapper {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.checkbox__wrapper span {
  max-width: 28rem;
}

.checked span {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .checkbox__wrapper {
    width: 100%;
  }

  .checkbox__wrapper,
  .checkbox__wrapper a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
