.common {
  font-weight: 400;
}

.body01 {
  font-size: 1.125rem; /* 18px */
}
.body02 {
  font-size: 1rem; /* 16px */
}
.body03 {
  font-size: 0.875rem; /* 14px */
}
.body04 {
  font-size: 0.75rem; /* 12px */
}

.caption01 {
  font-size: 0.625rem; /* 10px */
}
